{% extends 'base.html' %}

{% block login %}
    <form action="{{ url_for('todo_add') }}" enctype="multipart/form-data" method="post"  style='padding:700px; margin-top:150px' class="form-signin pt-5">
        <h1 class="h3 mb-3 font-weight-normal">Create New To Do</h1>
        <label for="inputEmail" class="sr-only">Type your To Do task</label>

        <input value="{{ task_name }}" type="text" id="inputEmail" class="form-control" placeholder="Your Task" required=""
               autofocus="" name="task_name">

        <label for="inputPassword" class="sr-only mt-3">Describe your task</label>

        <input value="{{ task_descr }}" name= 'task_descr' id="inputPassword" class="form-control" placeholder="Password" required=""> </input>

        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Create</button>
    </form>
{% endblock login %}

{% block todo %}
<div style="display:flex; justify-content: space-between; margin-top:-600px">
    <div class="col-md-3 pt-5 p-5">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                {{ task_name }}
                <div class="d-flex justify-content-between align-items-center">
                    {{ task_description }}
                    <div class="btn-group">
                        <a href="/detail/" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock todo %}
